name: CI/CD Pipeline

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  # --- JOB 1 : TESTS ---
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: uv sync
      - name: Run Tests
        run: uv run python -m pytest

  # --- JOB 2 : DEPLOY ---
  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Clean and Push to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # 1. Configurer l'identité Git
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          # 2. Supprimer physiquement les fichiers interdits
          rm -rf tests/ .github/ .pytest_cache/ .env 2>/dev/null

          # 3. Créer une branche orpheline 'deploy'
          # Cela crée une branche qui n'a aucun commit parent (historique vide)
          git checkout --orphan deploy

          # 4. Ajouter les fichiers actuels à cette branche propre
          git add .
          git commit -m "Production release without tests"

          # 5. Pousser cette branche propre vers la branche 'main' de Hugging Face
          # On utilise --force pour écraser le contenu distant par cette version "propre"
          git push --force https://c3loo:$HF_TOKEN@huggingface.co/spaces/c3loo/sounds_recognizer deploy:main