name: CI/CD Pipeline

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  # --- JOB 1 : TESTS ---
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: uv sync
      - name: Run Tests
        run: uv run python -m pytest

  # --- JOB 2 : DEPLOY ---
  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Clean and Push to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # 1. Configurer l'identité Git
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          # 2. Nettoyage agressif : on retire les fichiers de l'index Git sans erreur
          # On liste les dossiers à supprimer. S'ils n'existent pas, le script continue.
          git ls-tree -r HEAD --name-only | grep -E '^tests/samples/piano.mp3$' || echo "not present"
          
          # 3. Créer un commit de déploiement propre
          # Le --allow-empty est important au cas où il n'y aurait rien à nettoyer
          git commit -m "Deployment cleanup" --allow-empty

          # 4. Push vers Hugging Face
          # On utilise --force pour s'assurer que les fichiers binaires supprimés 
          # ne bloquent pas la réception côté Hugging Face
          git push --force https://c3loo:$HF_TOKEN@huggingface.co/spaces/c3loo/sounds_recognizer main